*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  display: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 534px;
  width: 1140px;
  
}

.result {
  margin-top: 78px;
}

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 16px;
  gap: 40px;
}

.content__details {
  height: 100%;
}

.content__list-container {
  overflow: hidden scroll;
  margin-top: 26px;
  height: 298px;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
}

/* убираем дефолтную синюю обводку у ссылки */
.content__card-link:focus {
  outline: none;
}

/* добавляем свою обводку при табе */
.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  height: 103px;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-thumbnail {
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.title {
  line-height: 94%;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Oswald;
}

.content__accent {
  color: #545050;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  width: 192px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.content__video-card-description {
  line-height: 16.2px;
  font-size: 18px;
  width: 192px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form__fieldset {
  border: none;
  width: 212px;
}

.search-form__checkbox-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.search-form__checkbox {
  appearance: none;
  margin: 0;
  align-self: center;
  display: block;
  /* position: absolute; */
  /* transform: translateX(-150%);
  top: 4.2px; */
  content: "";
  width: 17px;
  height: 17px;
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox:checked {
  background-color: white;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-left: 2px;
}

.search-form__label-text:hover {
  text-underline-offset: 3px;
  text-decoration: underline;
  cursor: pointer;
}

.search-form__fieldset:nth-of-type(1) .search-form__label {
  padding: 0;
}


.search-form__textfield {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 225px;
  height: 27px;
  color: white;
}




.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: none;
  border: 1px solid white;
}











.search-form__submit-button {
  align-self: end;
  background-color: transparent;
  border: white 1px solid;
  color: white;
  width: 194px;
  height: 34px;
  font-weight: bold;
  font-size: 18px;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.search-form__submit-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.result__video-container {
  position: relative;
}

.content__list-container {
  position: relative;
}

.more-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 390px;
  height: 34px;
  margin-right: 3px;
  margin-top: 30px;
}